<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#searchword").autocomplete({
				source: "searchAutoComplete", 
				minLength: 2,
			});

		});
	</script>
    <title>Wiki Search</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="icon" type="image/png" href="https://cdn.pixabay.com/photo/2013/10/01/16/55/magnifying-glass-189254_1280.png">
    <style>
    	#heading {
    		text-align: center;
    		position:relative;
    		top:40px;
    		color:black;
    	}
    	#search-bar {
    		display:inline-block;
    		margin-right:10px;
    		position:relative;
    		top:80px;
    	}
    	#search-button {
    		display:inline-block;
    		position:relative;
    		top:80px;
    	}
    	a.nounderline {text-decoration: none; }
    
    </style>
</head>
<body style="background-color:ghostwhite;">
	<a href="/" class="nounderline">
  	<h1 id="heading">
    Wiki Search
  	</h1>
	</a>

	<form class="form-inline" action="/search" method="post">
	<div align="center">
	  <div class="form-group mx-sm-3 mb-2 w-50" id="search-bar">
	    <input type="text" class="form-control" id="searchword" name="searchword" placeholder="I'm looking for...">
	  </div>
	  <button type="submit" class="btn btn-outline-dark" id="search-button">Search!</button>
	</div>
	</form>
	
	
	<h5 th:text="'&quot;' + ${searchWord} + '&quot;' + ' not found'" style="text-align: center;margin-right:10px;position:relative;top:90px;"></h5>
	
</body>
</html>