/Wiki_FULL.txt
/Wiki_800MB.txt
/Wiki_400MB.txt
/Wiki_200MB.txt
/Wiki_100MB.txt
/1-1000_mostCommonWords.txt
/PATHS.txt
/Wiki_100KB.txt
/Wiki_10MB.txt
/Wiki_1MB.txt
/Wiki_20MB.txt
/Wiki_2MB.txt
/Wiki_50MB.txt
/Wiki_5MB.txt
/application.properties
